--generator
file:/Users/gareth/Ziniki/Code/Ziggrid/Generator/src/main/resources/baseball.xml
--group
5
10
--generator
file:/Users/gareth/Ziniki/Code/Ziggrid/Generator/src/main/resources/baseball.xml
--group
6
10
--generator
file:/Users/gareth/Ziniki/Code/Ziggrid/Generator/src/main/resources/baseball.xml
--group
7
10
--observer
--threads
85
25
110
