--generator
file:/Users/gareth/Ziniki/Code/Ziggrid/Generator/src/main/resources/baseball.xml
--group
2
10
--generator
file:/Users/gareth/Ziniki/Code/Ziggrid/Generator/src/main/resources/baseball.xml
--group
3
10
--generator
file:/Users/gareth/Ziniki/Code/Ziggrid/Generator/src/main/resources/baseball.xml
--group
4
10
--observer
--threads
60
25
110
